@use 'styles/variables';
@use 'styles/breakpoints';

.card {
  width: 100%;
  transition: .2s all ease-in;
  .content {
    .top {
      height: auto;
      @include breakpoints.media-breakpoint-up(md) {height: 8rem}
      //Small Card
      &.compact {
        height: auto;
        @include breakpoints.media-breakpoint-up(md) {height: 7rem}
      }

      .title {
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: 500;
        color: rgba(variables.$black, 0.8);
      }

      .postalCode {
        background-color: rgba(variables.$accentLight, 0.7);
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;
        font-size: 0.7rem;
        color: rgba(variables.$black, 0.8);
      }

      .address {
        color: rgba(variables.$black, 0.7);
        margin-top: 0.5rem;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .divider {
      margin: 1rem 0;
      //Small Card
      &.compact {
        margin-bottom: 0;
      }
    }

    .description {
      height: 6.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      font-size: 0.75rem;
      color: rgba(variables.$black, 0.6);
    }
  }

  .actions {
    .button {
      margin-left: auto;
      color: variables.$secondaryColor;
    }
  }
  &:hover{
    box-shadow: 0px 10px 8px 3px  rgba(variables.$black, 0.1);
  }
}
